<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>London Hotel: Room Reservations</title>
</head>
<body>
    <h1>Welcome to room reservations</h1>
    <table>
        <tr>
            <td>Room</td>
            <td>Room Number</td>
            <td>Guest</td>
        </tr>
        <tr th:each="roomReservation: ${roomReservations}">
            <td th:text="${roomReservation.roomName}"></td>
            <td th:text="${roomReservation.roomNumber}"></td>
            <td th:text="${roomReservation.lastName} != null ? ${roomReservation.lastName} + ',' + ${roomReservation.firstName}: 'VACANT'"></td>
        </tr>
    </table>
</body>
</html>